@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

body{
	background-image:url(img/g.png);
}


#loading{
	display:block;
	background-image:url(img/g.png);
	width:100%;
	height:200%;
	top:0;
	position:absolute;
	z-index:5;
}

/* Circle */
.circle {
	margin-top:25% ;
	margin-left:auto;
	margin-right:auto;
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	-moz-animation:spinPulse 1s infinite ease-in-out;
	-webkit-animation:spinPulse 1s infinite linear;
}
.circle1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
}
@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

																																		/* */
div.container{
	margin:0 auto;
	width:1000px;
	
}
div.under{
	background-image:url(img/barfak.png);
	background-repeat:no-repeat;
	width:608px;
	height:425px;
	position:absolute;
	margin:100px 0px 0px 110px;;
}

div.banner{
	width:800px;
	height:600px;
	overflow:hidden;
	margin-top:20px;
	margin-left:50px;
	position:relative;

	
}
div.banner div.box{
	height:418px;
	position:absolute;
	margin-left:64px;
	top:99px;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
}
div.banner div.box > div{
	width:600px;
	height:inherit;
	float:left;					
	background-repeat:no-repeat;
	background-position:left top;
}

																							/* PICTURES    */
div.banner div.box > div.one{
	background-image:url(img/banner/one.JPG);
}
div.banner div.box > div.two{
	background-image:url(img/banner/two.JPG);
}

div.banner div.box > div.three{
	background-image:url(img/banner/three.JPG);
}

div.banner div.box > div.four{
	background-image:url(img/banner/four.JPG);
}

div.banner div.box > div.five{
	background-image:url(img/banner/five.JPG);
}

div.banner div.box > div.six{
	background-image:url(img/banner/six.JPG);
}

/*  TV */
div.container div.tv{
	background-image:url(img/tv_turnon.png);
	background-repeat:no-repeat;
	width:inherit;
	height:900px;
	position:absolute;
	margin-top:-785px;
}

																		/* HAND */

div.tv div.hand{
	background-image:url(img/handok.png);
	background-repeat:no-repeat;
	margin:370px 0px 0px 808px;
	width:130px;
	height:130px;
	position:absolute;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
	
}
														/* Numbers*/
div.tv ul.btn{
	list-style:none;
	width:130px;
	height:130px;
	margin:370px 0px 0px 808px;
	position:absolute;
	left: 0px;
	top: 0px;
	opacity:0.5;
	-webkit-opacity:0.5;
}
div.tv ul.btn > li:hover{
	opacity:0.2;
	-webkit-opacity:0.2;
}

div.tv ul.btn > li{
	font-family:"Birch Std";
	font-size:28px;
	color:white;
	cursor:pointer;
}
div.tv ul.btn li.yek{
	margin:10px 0px 0px 59px;
	position:absolute;
}
div.tv ul.btn li.do{
	margin:20px 0px 0px 89px;
	position:absolute;
}
div.tv ul.btn li.se{
	position:absolute;
	margin:50px 0px 0px 100px;
} 
div.tv ul.btn li.char{
	position:absolute;
	margin:77px 0px 0px 87px;
}
div.tv ul.btn li.panj{
	position:absolute;
	margin:87px 0px 0px 59px;
}
div.tv ul.btn li.shish{
	position:absolute;
	margin:77px 0px 0px 28px;
}
div.tv ul.btn li.haft{
	position:absolute;
	margin:50px 0px 0px 17px;
}
div.tv ul.btn li.hasht{
	position:absolute;
	margin:20px 0px 0px 29px;
}




																			/* PANNEL BTNS */
div.pannel{
	width:180px;
	min-height:60px;
	margin-top:495px;
	margin-left:785px;
}
div.tv div.pannel #next{
	background-image:url(img/asab.png);
	background-repeat:no-repeat;
    float: left;
    height: 43px;
    padding-right: 40px;
    text-decoration: none;
	margin-left:120px;
	margin-top:18px;
	position:absolute;
	cursor:pointer;
}
div.pannel #next:active{
	background-image:url(pannel_btn.png);
    background-position:bottom right;
}

div.tv div.pannel div.next p{
	opacity:0.4;
	-webkit-opacity:0.4;
	margin-top:60px;
	margin-left:112px;
	color:gray;
	font-family:"Birch Std";
	font-size:22px;
	position:absolute;
}
div.tv div.pannel #back{
	background-image:url(img/asab.png);
	background-repeat:no-repeat;
    float: left;
    height: 43px;
    padding-right: 40px;
    text-decoration: none;
	margin-left:67px;
	margin-top:18px;
	position:absolute;
	cursor:pointer;
}
div.pannel #back:active{
	background-image:url(pannel_btn.png);
    background-position:bottom right;
}
div.tv div.pannel div.back p{
	opacity:0.4;
	-webkit-opacity:0.4;
	margin-top:60px;
	margin-left:40px;
	color:gray;
	font-size:22px;
	font-family:"Birch Std";
	position:absolute;
}
div.tv div.pannel #play{
	background-image:url(img/play.png);
	background-repeat:no-repeat;
    float: left;
    height: 43px;
    padding-right: 41px;
    text-decoration: none;
	margin-top:18px;
	margin-left:12px;
	position:absolute;
	cursor:pointer;
}
div.pannel #play:active{
	background-image:url(pannel_btn.png);
    background-position:bottom right;
}
																					/*    POWER BTN OOF/ON   */
div.tv div.mainpower{
	background-image:url(img/mainpower.png);
	background-repeat:no-repeat;
	width:150px;
	height:150px;
	margin:210px 0px 0px 797px;
	position:inherit;
}
div.mainpower a.off{
	font-family:"Birch Std";
	color:rgb(150,10,10);
	font-size:20px;
	position:inherit;
	margin:42px 0px 0px 72px;
	text-decoration:none;
}
div.mainpower a.off:hover{
	color:rgb(250,10,10);
	font-size:20px;
	position:inherit;
	margin:42px 0px 0px 72px;
	text-decoration:none;
}

div.mainpower a.on{
	font-family:"Birch Std";
	cursor:pointer;
	color:rgb(10,150,10);
	font-size:20px;
	position:inherit;
	margin:65px 0px 0px 98px;
	text-decoration:none;
}
div.mainpower a.on:hover{
	cursor:pointer;
	color:rgb(10,250,10);
	font-size:20px;
	position:inherit;
	margin:65px 0px 0px 98px;
	text-decoration:none;
}


div.tv div.mainpower div.pointer{
	background-image:url(img/pointer.png);
	background-repeat:no-repeat;
	width:17px;
	height:108px;
	position:absolute;
	margin:27px 0px 0px 67px;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
}																							/* GLASS*/
div.tv div.glass{
	background-image:url(img/glass.png);
	background-repeat:no-repeat;
	width:608px;
	height:425px;
	margin:280px 0px 0px 115px;
	position:absolute;
}

/*
div.tv div.pass{
	background-image:url(img/bgtxt.png);
	background-repeat:no-repeat;
	margin:633px 0px 0px 176px;
	width:510px;
	height:60px;
	position:;
}
*/
div.tvtable{
	background-image:url(img/oldtable.png);
	width:1100px;
	height:300px;
}
div.box div.otext{
	background-image:url(img/bgtxt.png);
	background-repeat:no-repeat;
	width:400px;
	height:68px;
	position:absolute;
	margin:7px 0px 0px 109px;
	padding:10px 0px 0px 0px;
	text-align:center;
	color:lightblue;
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
	opacity:0.6;
	-webkit-opacity:0.6;
	
}
