@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}

body{
	background-image:url(img/wall4.jpg);
}


#loading{
	display:block;
	background-image:url(img/wall4.jpg);
	width:100%;
	height:200%;
	top:0;
	position:absolute;
	z-index:5;
}

																		/* Circle-Loading */
.circle {
	margin-top:25% ;
	margin-left:auto;
	margin-right:auto;
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-right:5px solid rgba(0,0,0,0);
	border-left:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 35px #2187e7;
	width:50px;
	height:50px;
	-moz-animation:spinPulse 1s infinite ease-in-out;
	-webkit-animation:spinPulse 1s infinite linear;
}
.circle1 {
	background-color: rgba(0,0,0,0);
	border:5px solid rgba(0,183,229,0.9);
	opacity:.9;
	border-left:5px solid rgba(0,0,0,0);
	border-right:5px solid rgba(0,0,0,0);
	border-radius:50px;
	box-shadow: 0 0 15px #2187e7; 
	width:30px;
	height:30px;
	margin:0 auto;
	position:relative;
	top:-50px;
	-moz-animation:spinoffPulse 1s infinite linear;
	-webkit-animation:spinoffPulse 1s infinite linear;
}
@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
	0% { -moz-transform:rotate(0deg); }
	100% { -moz-transform:rotate(360deg);  }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
	0% { -webkit-transform:rotate(0deg); }
	100% { -webkit-transform:rotate(360deg); }
}

																		/* */
div.container{
	margin:0 auto;
	width:980px;
	min-height:900px;
	
}
div.under{
	background-image:url(img/barfak.png);
	background-repeat:no-repeat;
	width:550px;
	height:425px;
	position:absolute;
	z-index:-2;
	margin-left:160px;
}
							/*   BANNER is the window that show itself under picures  */
div.banner{
	width:565px;
	height:400px;
	overflow:hidden;
	margin-top:100px;
	margin-left:120px;
	position:relative;

	
}
										/* Box has the pictures in it self*/
div.banner div.box{
	width:530px;
	height:350px;
	position:absolute;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
	margin:30px 0px 0px 57px;
}
div.banner div.box > div{
	width:525px;
	height:inherit;
	float:left;					
	background-repeat:no-repeat;
	background-position:left top;
}

																		/* PICTURES    */
div.banner div.box > div.one{
	background-image:url(img/banner/one.JPG);
}
div.banner div.box > div.two{
	background-image:url(img/banner/two.JPG);
}

div.banner div.box > div.three{
	background-image:url(img/banner/three.JPG);
}

div.banner div.box > div.four{
	background-image:url(img/banner/four.JPG);
}

div.banner div.box > div.five{
	background-image:url(img/banner/five.JPG);
}

div.banner div.box > div.six{
	background-image:url(img/banner/six.JPG);
}

																				/*  TV */
div.container div.tv{
	background-image:url(img/tv_turnon1.png);
	background-repeat:no-repeat;
	min-height:900px;
	position:absolute;
	margin-top:-685px;
}

																		/* HAND */

div.tv div.hand{
	background-image:url(img/handok.png);
	background-repeat:no-repeat;
	margin:383px 0px 0px 755px;
	width:130px;
	height:130px;
	position:absolute;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
	
}
																		/* Numbers*/
div.tv ul.btn{
	list-style:none;
	width:130px;
	height:130px;
	margin:370px 0px 0px 808px;
	position:absolute;
	left: 0px;
	top: 0px;
	opacity:0.5;
	-webkit-opacity:0.5;
}
div.tv ul.btn > li:hover{
	opacity:0.2;
	-webkit-opacity:0.2;
}

div.tv ul.btn > li{
	font-family:"Birch Std";
	font-size:28px;
	color:white;
	cursor:pointer;
}
div.tv ul.btn li.yek{
	margin:10px 0px 0px 59px;
	position:absolute;
}
div.tv ul.btn li.do{
	margin:20px 0px 0px 89px;
	position:absolute;
}
div.tv ul.btn li.se{
	position:absolute;
	margin:50px 0px 0px 100px;
} 
div.tv ul.btn li.char{
	position:absolute;
	margin:77px 0px 0px 87px;
}
div.tv ul.btn li.panj{
	position:absolute;
	margin:87px 0px 0px 59px;
}
div.tv ul.btn li.shish{
	position:absolute;
	margin:77px 0px 0px 28px;
}
div.tv ul.btn li.haft{
	position:absolute;
	margin:50px 0px 0px 17px;
}
div.tv ul.btn li.hasht{
	position:absolute;
	margin:20px 0px 0px 29px;
}


																	/* PANNEL BTNS */
div.pannel{
	width:180px;
	min-height:60px;
	margin-top:495px;
	margin-left:728px;
}
div.tv div.pannel #next{
	background-image:url(img/asab.png);
	background-repeat:no-repeat;
    float: left;
    height: 43px;
    padding-right: 40px;
    text-decoration: none;
	margin-left:120px;
	margin-top:18px;
	position:absolute;
	cursor:pointer;
}
div.pannel #next:active{
	background-image:url(img/asab.png);
    background-position:bottom right;
}

div.tv div.pannel div.next p{
	opacity:0.4;
	-webkit-opacity:0.4;
	margin-top:60px;
	margin-left:104px;
	color:gray;
	font-size:14px;
	position:absolute;
}
div.tv div.pannel #back{
	background-image:url(img/asab.png);
	background-repeat:no-repeat;
    float: left;
    height: 43px;
    padding-right: 40px;
    text-decoration: none;
	margin-left:67px;
	margin-top:18px;
	position:absolute;
	cursor:pointer;
}
div.pannel #back:active{
	background-image:url(img/asab.png);
    background-position:bottom right;
}
div.tv div.pannel div.back p{
	opacity:0.4;
	-webkit-opacity:0.4;
	margin-top:60px;
	margin-left:33px;
	color:gray;
	font-size:14px;
	position:absolute;
}
div.tv div.pannel #play{
	background-image:url(img/play.png);
	background-repeat:no-repeat;
    float: left;
    height: 43px;
    padding-right: 41px;
    text-decoration: none;
	margin-top:18px;
	margin-left:12px;
	position:absolute;
	cursor:pointer;
}
div.pannel #play:active{
	background-image:url(img/play.png);
    background-position:bottom right;
}
																		/*    POWER BTN OOF/ON   */
div.tv div.mainpower{
	background-image:url(img/mainpower.png);
	background-repeat:no-repeat;
	width:150px;
	height:150px;
	margin:240px 0px 0px 745px;
	position:inherit;
}
div.mainpower a.off{
	cursor:pointer;
	color:#999;
	font-size:20px;
	position:inherit;
	margin:42px 0px 0px 62px;
	text-decoration:none;
}
div.mainpower a.off:hover{
	cursor:pointer;
	color:#F00;
	font-size:20px;
	position:inherit;
	margin:42px 0px 0px 62px;
	text-decoration:none;
}

div.mainpower a.on{
	cursor:pointer;
	color:#999;
	font-size:20px;
	position:inherit;
	margin:65px 0px 0px 91px;
	text-decoration:none;
}
div.mainpower a.on:hover{
	cursor:pointer;
	color:#0F0;
	font-size:20px;
	position:inherit;
	margin:65px 0px 0px 91px;
	text-decoration:none;
}


div.tv div.mainpower div.pointer{
	background-image:url(img/pointer.png);
	background-repeat:no-repeat;
	width:17px;
	height:108px;
	position:absolute;
	margin:27px 0px 0px 67px;
	-webkit-transition:all 800ms;
	-moz-transition:all 800ms;
}
																		/* GLASS*/
div.tv div.glass{
	background-image:url(img/glass.png);
	background-repeat:no-repeat;
	width:517px;
	height:361px;
	margin:310px 0px 0px 175px;
	position:absolute;
	z-index:4;
	
}
div.box div.otext{
	background-image:url(img/bgtxt.png);
	background-repeat:no-repeat;
	width:400px;
	min-height:68px;
	position:absolute;
	margin:12px 0px 0px 60px;
	padding:5px 0px 0px 0px;
	text-align:center;
	color:lightblue;
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
	font-weight:bold;
	opacity:0.2;
	-webkit-opacity:0.2;
	z-index:3;
}
div.box div.otext:hover{
	cursor:pointer;
	background-image:url(img/bgtxt.png);
	background-repeat:no-repeat;
	width:400px;
	min-height:68px;
	position:absolute;
	margin:12px 0px 0px 60px;
	padding:5px 0px 0px 0px;
	text-align:center;
	color:white;
	font-family:"Comic Sans MS", cursive;
	font-size:14px;
	font-weight:bold;
	opacity:1;
	-webkit-opacity:1;
	z-index:3;
}
div.tvtable{
	background-image:url(img/wood-table1.png);
	background-repeat:no-repeat;
	margin-top:50px ;
	height:510px;
	width:1020px;
	
}
div.footer{
	font-family:"Comic Sans MS", cursive;
	position:absolute;
	width:210px;
	margin:215px 0px 0px 350px;
	font-size:14px;
	background-color:#667;
	opacity:0.8;
	-webkit-opacity:0.8;
	-webkit-border-radius:20px;
	text-align:center;
	

}
div.footer img.b{
	margin-top:-30px;
	margin-left:10px;
	position:absolute;
	opacity:0.3;
	-webkit-opacity:0.3;
}

div.footer p{
	font-size:16px;
	text-decoration:none;

}
div.footer a{
	font-size:16px;
	text-decoration:none;
	color:#000033;
}

div.tvtable a.fly{
	position:absolute;
	left:40%;
	top:45%;
	padding:10px 12px;
	cursor:url(img/cur.gif),url(img/cur2.cur),auto;
	white-space:nowrap;
	background-image:url(img/fly2.png);
	width:60px;
	height:80px;
	background-repeat:no-repeat;
	-webkit-transition:all 900ms;
	z-index:6;
}
div.tvtable a.fly:active{
	opacity:0.1;
}
